body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #2d3c49;
}
/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
h1,h3{
  font-family: 'Roboto Mono', monospace;
}
ul{
  margin: 0;
  padding: 0;
}
/* Header */
header{
  background: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 5px solid #7d97ad;
}

header a{
  color: #7d97ad;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: right;
}
header #branding h1{
  margin: 0;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 35px;
  color:#02b3e4
}
header nav{
  float: right;
  margin-top: 10px;
}
/* Section */
  /* Showcae */
#showcase{
  min-height: 400px;
  background: url("../img/a.jpg") no-repeat 0 -400px;
  text-align: center;
  color:#7d97ad;
  margin-left: 10px;
  margin-right: 10px;
}
#showcase h1{
  font-size:30px;
  margin-top: 100px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}
/* Boxes */

/* section #boxes .box{
  float: left;
  display: inline;
  width: 30%;
  padding: 10px;
  text-align: center;
} */

.wrapper{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 7%;
}
.wrapper > div {
  background: gray;
  padding: 1em;
}
#boxes .box img {
  width:100%;
}
#boxes .box h3, p{
  text-align: center;
}

/* Footer */
footer {
  padding: 30px;
  margin-top: 20px;
  color: white;
  background-color: #7d97ad;
  text-align: center;
}
